<h1>Editing interview</h1>

<%= render 'form' %>

<%= button_to 'Show', @interview , method: :get, :class => 'button', :id => 'button'%> |
<%= button_to 'Back', interviews_path ,method: :get, :class => 'button', :id => 'button'%>
