<h1>Questions list</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>URL</th>

    </tr>
  </thead>

  <tbody>
    <% @clips.select("DISTINCT(question_id),user_id,interview_id,url").each do |clip| %>
    <% if clip.interview_id == params[:interview_id] %>
    <% sql="select question from interview_questions where id='"+clip.question_id.to_s+"'" %>
    <% sql1="select id from interviews where id='"+clip.interview_id+"'"%>
      <% question=InterviewQuestion.find_by_sql(sql) %>
      <% if question.length !=0  %>
      <tr>
        <td>
      
      <%= question.first.question %>
      
    </td>
    <td>      
      <%= link_to 'View interview clip', clip.url %>
    </td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
  
</table>
<div>
  <%= button_to 'Logout', logout_path, :method =>"delete" %>
</div>

<br>
