<html>
<title> About Us</title>
<body>
	<h2>This is a recruitment site, Which Automates the recruitment process..</h2>
	</br></br></br></br>
    

     <h2>This Application was created by Vaibhav Palav, Sourabh Kulkarni and Kamal Pandey, </br>
     	Under Guidance Of Mr.Vaibhav Tandle, Mr.Gaurav Saraf And Mrs.Sonal Chaudhari.
     	</br> 
    


</body>
</html>